<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940182120739-q59p24sbcnfieaknod7hckd4f5hprjuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940182120739-q59p24sbcnfieaknod7hckd4f5hprjuc</string>
	<key>API_KEY</key>
	<string>AIzaSyCGNs4bIRw7tVbuZMg2pQ6z3hA9P5eBaKA</string>
	<key>GCM_SENDER_ID</key>
	<string>940182120739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flo.PetRescue</string>
	<key>PROJECT_ID</key>
	<string>petrescue-83369</string>
	<key>STORAGE_BUCKET</key>
	<string>petrescue-83369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940182120739:ios:5d20653d2d4a4056870496</string>
	<key>DATABASE_URL</key>
	<string>https://petrescue-83369.firebaseio.com</string>
</dict>
</plist>